@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');

body {
    background-color: palegreen;
}

#quote-box {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
    background-color: palevioletred;
    padding: 10px;
    font-family: 'Kirang Haerang', cursive;
    color: white;
    font-size: 45px;
    border-radius: 30px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-quote {
    background: paleturquoise;
    border-radius: 15px;
    text-decoration: none;
    color: grey;
    padding: 20px;
    margin: 30px;
}

.SocialMediaShareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    background-color: rgba(81, 211, 81, 0.9);
    font-size: 25px;
    border-radius: 15px;
    height: 50px;
}

.button:hover {
    box-shadow: 5px 5px 10px gray;
}

@media (max-width: 780px) {
    #quote-box {
        font-size: 25px;
    }
}